node_modules/
.build/
_site/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.direnv/
.devenv/
.bin/
.pre-commit-config.yaml
.env
.claude
/screenshots/
.jscpd-report/
/videos/
/.video-build/
